body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    width: 300px;   
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.orders {
    font-size: 11px;
}

tr.info {
    background: #b7e7eb
}

.panel-heading {
    padding: 30px;
    font-size: 20px;
    color: black;
}

.panel-default > .panel-heading:hover {
    color: black;
    background-color: #dddddd;    
}

.panel-warning > .panel-heading {
    color: black;
}

.panel-warning > .panel-heading:hover {
    background-color: #fbeed5;
}

.panel-info > .panel-heading {
    color: black;
}

.panel-info > .panel-heading:hover {
    background-color: #bce8f1;
}

.panel-danger > .panel-heading {
    color: black;
}

.panel-danger > .panel-heading:hover {
    background-color: #eed3d7;
}

.panel-success > .panel-heading {
    color: black;
}

.panel-success > .panel-heading:hover {
    background-color: #d6e9c6;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

div.overlay-wrapper{  
    float:left; /* important */  
    position:relative; /* important(so we can absolutely position the description div */    
}  

div.overlay-wrapper:hover {
    background-color: black;
    /*opacity:0.1;*/
    z-index: 0;
    filter:alpha(opacity=60); /* IE transparency */  
}

div.overlay-description-bottom{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px; /* position will be on bottom */  
    left:0px;  
    width:100%;  
    /* styling bellow */  
    background-color:black;
    font-family: 'tahoma';  
    font-size:15px;  
    color:white;  
    opacity:0.8; 
    filter:alpha(opacity=80); 
}  

div.overlay-description-top{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    top:0px; /* position will be on bottom */  
    left:0px;  
    width:100%;  
    /* styling bellow */      
    font-family: 'tahoma';  
    font-size:15px;  
    color:white;  
    background-color:black;
    opacity:0.8; 
    filter:alpha(opacity=80); 
    display: none;
}  

div.overlay-description-top hr {
    width: 95%;
    border: 1px solid white;
    margin: 0 auto;
}

p.overlay-description-header{
    padding: 5px 10px;
    margin:0px;
    font-size: 24px;
    color: white;
}  

p.overlay-description-content{  
    padding: 5px 10px;
    color: white;
}  

.row .main {
    margin-left: 0 !important;
    margin-right: 0 !important;
}