@model dynamic

@{
    ViewBag.Title = "Черный список";
}

<h2>Невозможно выполнить вход в систему, так как ваш аккаунт занесен в черный список</h2>
<p>
    Обратитесь в нашу службу поддержки: 444-24-34 
</p>
