@using System.Collections.Specialized
@model IEnumerable<AutoOrder.Models.Order>

@{
    ViewBag.Title = "Заявки на автотранспорт";
    const int colSize = 4;
    var rows = (Model.Count() / colSize);
}

<h2>Заявки на автотранспорт</h2>

<p>
    @Html.ActionLink("Создать заявку", "Create", null, new { @class = "btn btn-primary" })
</p>

<div>
    <h4>
        <span class="label label-default">Новые заявки</span>
        <span class="label label-success">Выполненные заявки</span>
        <span class="label label-info">Отмененные заявки</span>
        <span class="label label-warning">Заявки без привязанного автомобиля</span>
        <span class="label label-danger">Заявки по которым истек срок</span>
    </h4>
</div>
<br />

@for (var row = 0; row <= rows; row++)
{
    <div class="row">
        @foreach (var item in Model.Skip(row*colSize).Take(colSize))
        {
            Html.RenderPartial("OrderTile", item);
        }
    </div>
}
