@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>

@section AddToHead
{
    <style>
        #map-canvas {
            height: 350px;
            width: 100%;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <address>
            General Super Logistic<br />
            Москва, ул. Ленина д. 151<br />
            <abbr title="Телефон">Тел:</abbr>
            424-78-89
        </address>

        <address>
            <strong>Служба поддержки</strong>   <a href="mailto:Support@example.com">support@autoorders.com</a><br />
            <strong>Отдел по работе с клиентами:</strong> <a href="mailto:Marketing@example.com">marketing@autoorders.com</a>
        </address>
    </div>
</div>

<div class="row main">    
    <div id="map-canvas" class="col-md-12">
        
    </div>
</div>


@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
            var position = new google.maps.LatLng(55.6527062, 37.4977808);
            var mapCanvas = document.getElementById('map-canvas');
            var mapOptions = {
                center: position,
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var marker = new google.maps.Marker({
                position: position,
                map: map,
                title: "General Super Logistic"
            });
            var contentString = '<b>General Super Logistic</b>. <br /> Самая большая логистическая компания в обозримой Вселенной';
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map, marker);
            });
        };

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>    
}