@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>

<address>
    General Super Logistic<br />
    Москва, ул. Ленина д. 151<br />
    <abbr title="Телефон">Тел:</abbr>
    424-78-89
</address>

<address>
    <strong>Служба поддержки</strong>   <a href="mailto:Support@example.com">support@autoorders.com</a><br />
    <strong>Отдел по работе с клиентами:</strong> <a href="mailto:Marketing@example.com">marketing@autoorders.com</a>
</address>