@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Учет заявок на автотранспорт</h1>
    <p class="lead">Система учета входных заявок для автоматизации приема, обработки и выполенения входящих заявок на автотрансопрт.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Для начала работы</h2>
        <p>
            @Html.ActionLink("Зарегистрируйтесь в системе", "Register", "Account") или войдите в свой 
            @Html.ActionLink("аккаунт", "Login", "Account")      
        </p>
        <p>
            После регистрации вам станут доступны основные функции для работы с системой: добавление и отмена заявок
        </p>
    </div>
    <div class="col-md-4">
        <h2>Создание новой заявки</h2>
        <p>
            Для создания новой заявки перейдите по ссылке "Заявки" в верхней части экрана.</p>
        <p>
            Заполните все необходимые поля.
        </p>
        <p>После создания заявки автоматически будет привязан автомобиль, который подходит для перевозки Вашего груза.</p>
        <p>В случае отсутствия подходящего автомобиля наш менеджер свяжется с Вами в кратчайшие сроки
        </p>
    </div>
    <div class="col-md-4">
        <h2>Отмена заявки</h2>
        <p>
            Для отмены существующей заявки перейдите по ссылке "Заявки" в верхней части экрана.
        </p>
        <p>Найдите интересующую вас <strong>невыполненную</strong> заявку и нажмите на ссылку "Отмена".</p>
    </div>
</div>