@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Учет заявок на автотранспорт</h1>
    <p class="lead">Система учета входных заявок для автоматизации приема, обработки и выполенения входящих заявок на автотрансопрт</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Для начала работы</h2>
        <p>
            @Html.ActionLink("Зарегистрируйтесь в системе", "Register", "Account") или войдите в свой 
            @Html.ActionLink("аккаунт", "Login", "Account")            
        </p>
    </div>
    <div class="col-md-6">
        <h2>Добавление новой заявки</h2>
        <p>
            Для добавления новой заявки перейдите по ссылке "Заявки" в верхней части экрана.
            После создания заявки автоматически будет привязан автомобиль, который подходит для перевозки Вашего груза.
            В случае отсутствия подходящего автомобиля наш менеджер свяжется с Вами в кратчайшие сроки
        </p>
    </div>
</div>